*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #878378 0%, #9f825a 100%);
}
header{
    height: 60px;
    width: 100%;
    background-color:rgb(41, 38, 38) ;
    color: white;
    display: flex;
    align-items: center;
}
.container{
    width: 90%;
    origin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    display: none;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: 550;
}
.logo{
    font-size: 24px;
}
.hero{
    width: 100%;
    height: auto;
    background: url(images/tiffin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #070707;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 20px;
}
.hro h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.hero p{
    font-size: 20px;
    margin-bottom: 10px;
}
.search-box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.search-box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius:5px 0 0 5px;
    font-size: 1rem;
    border:1px solid rgb(245, 37, 9)
}
.search-box button{
   
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius:0 5px 5px 0;
    font-size: 1rem;
    background: rgb(245, 37, 9);
    color:#fff;
    cursor: pointer;
}

/*------------------recipe section-----------*/
.recipes{
    padding: 50px 0;
}
.recipes h1{
    text-align:center;
    margin-bottom: 30px;
    font-size: 20px;

}
.recipe-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;

}
.recipe-card{
    background: white;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow:0 4px 8px rgb(0,0,0,0.1);
}
.recipe-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}
.recipe-card h2{
    font-size:22px;
    padding: 20px;
}
.recipe-card p{
    font-size:18px;
    padding: 20px;
}
.recipe-card a{
    display:block;
    text-align: center;
    text-decoration: none;
    background:#333;
    color:#fff;
    padding: 15px 0;
    cursor: pointer;
}
footer{
    background:#333;
    padding: 20px 0;
    color:#fff;
    text-align: center;
}
.menu-icon{
    font-size: 24px;
    padding:20px;
    text-align: right; 
    cursor:pointer;
    display:block;
}
@media only screen and(min-width: 768px){
    .menu-icon{
        display: none;
    }
    .nav-list{
        display: block;
    }
}
@media only screen and(max-width: 768px){
    .hero h2{
        font-size:20px;

    }
    .hero p{
        font-size: 15px;
    }
}
.tiffin{
    width: 100%;
    height: auto;
    background: url(images/Screenshot\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #070707;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 2px;
}
/*--------services---------------*/

.services{
    padding: 15px 0;
    
}
.services p{
    font-size: 20px;
    margin-bottom: 10px;
    background-position: center;
    color: #070707;
    text-align: center;
}
.container.hero p{
    font-size: 20px;
    margin-bottom: 10px;
}
.services h1{
    text-align:center;
    margin-bottom: 30px;
    font-size: 20px;

}
.service-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;

}
.service-card{
    background: white;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow:0 4px 8px rgb(0,0,0,0.1);
    height: 500px;
}
.service-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}
.service-card h2{
    font-size:22px;
    padding: 20px;
}
.service-card p{
    font-size:18px;
    padding: 20px;
}
.service-card a{
    display:block;
    text-align: center;
    text-decoration: none;
    background:#333;
    color:#fff;
    padding: 15px 0;
    cursor: pointer;
}

#view-item-1{
    margin-top: 24.5%;
}
#view-item-2{
    margin-top: 2.5%;
}

#view-item-4{
    margin-top: 19.5%;
}


