/* Back Button */
.back-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    background: #f4c430;
    color: black;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

.back-btn:hover {
    background: #d4a017;
    box-shadow: 0 0 15px rgba(255, 215, 0, 1);
}
